<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Crop Recommendation</title>
    <link rel="icon" type="image/png" sizes="96x96" href="1.jpg">

    <link href="{{ url_for('static', filename='libraries/css/bootstrap.css') }}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="title">
            <h1>Crop Recommendation</h1>
    </div>
    <div class="container">

        <div class="row">
            <form action="{{ url_for('prediction')}}" method ="POST" >
                <div class="form-group">
                    <input type="text" class="form-control"  name="n" placeholder="Enter Ratio of Nitrogen content in soil">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="p" placeholder="Enter Ratio of Phosphorous content in soil">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="k" placeholder="Enter Ratio of Potassium content in soil">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="temperature" placeholder="Enter Temperature in degree Celsius">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="humidity" placeholder="Enter Relative humidity in %">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="ph" placeholder="Enter PH value of the soil">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="rainfall" placeholder="Enter Rainfall in Milimeter">
                </div>
                <button type="submit" class="btn" >Submit</button>
            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>